apiVersion: apps/v1
kind: Deployment
metadata:
  name: charizhard-server
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: charizhard-server
  template:
    metadata:
      labels:
        app: charizhard-server
    spec:
      containers:
      - name: charizhard-server
        image: asthafinito/charizhard-server
        env:
        - name: PRIVATE_KEY
          value: "{{ private_key }}"
        ports:
        - containerPort: 51820
          protocol: UDP
        - containerPort: 8080
          protocol: TCP
        securityContext:
          capabilities:
            add: ["MKNOD", "NET_ADMIN", "NET_RAW"]
        volumeMounts:
        - mountPath: /dev/net/tun
          name: tun-device
      volumes:
      - name: tun-device
        hostPath:
          path: /dev/net/tun
      imagePullSecrets:
        - name: dockerhub-image-pull-secret
---
apiVersion: v1
kind: Service
metadata:
  name: charizhard-server-service
  namespace: default
spec:
  selector:
    app: charizhard-server
  ports:
  - protocol: UDP
    port: 51820
    targetPort: 51820
    name: wireguard
  - protocol: TCP
    port: 8080
    targetPort: 8080
    name: http
  type: LoadBalancer