apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-ota
spec:
  rules:
  - host: test.ota.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: ota-service
            port:
              number: 80
  ingressClassName: nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-ch-server
spec:
  rules:
  - host: test.charizhard-server.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: charizhard-server-service
            port:
              number: 8080
  ingressClassName: nginx
